# =========================
# Node.js & Backend
# =========================
node_modules/
npm-debug.log
yarn-error.log
.env
.env.test
.env.production

# =========================
# Angular & Frontend
# =========================
dist/
tmp/
out-tsc/
bazel-out/
.angular/
coverage/

# =========================
# OS & Editor Files
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db